# Python
__pycache__/
*.py[cod]
*.sqlite3
*.pyc

# Django
*.log
db.sqlite3
media/
staticfiles/

# Virtual environment
venv/
env/
.env

# Frontend Vue.js
# frontend/

# IDE / Editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
